notebook
numpy
pandas
xgboost
keras
scipy
scikit-learn
matplotlib
seaborn
plotly
beautifulsoup4
nltk
catboost
graphviz
ipyparallel
pydot
pydotplus
snowballstemmer
tensorflow
pymorphy2
pymorphy2-dicts
tqdm
requests
gensim
pystan
statsmodels
xlrd
xlwt
yargy
ipymarkup
sqlalchemy
psycopg2